<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerSignup</servlet-name>
        <servlet-class>Controller.ControllerSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogout</servlet-name>
        <servlet-class>Controller.ControllerLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerQuest</servlet-name>
        <servlet-class>Controller.ControllerQuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogin</servlet-name>
        <servlet-class>Controller.ControllerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAdmin</servlet-name>
        <servlet-class>Controller.ControllerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLoad</servlet-name>
        <servlet-class>Controller.ControllerLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerEditAcc</servlet-name>
        <servlet-class>Controller.ControllerEditAcc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerSignup</servlet-name>
        <url-pattern>/ControllerSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerQuest</servlet-name>
        <url-pattern>/ControllerQuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogin</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAdmin</servlet-name>
        <url-pattern>/ControllerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLoad</servlet-name>
        <url-pattern>/ControllerLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerEditAcc</servlet-name>
        <url-pattern>/ControllerEditAcc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
